# Printvetica is a PURCHASED commercial font (guaschetti, Gumroad 2026-07-29).
# This repo is public and deploys to GitHub Pages. Committing the font file is
# REDISTRIBUTION, which most commercial font licences prohibit even when they
# permit webfont embedding on your own site. Kept local only until the licence
# terms are confirmed.
# Rebuild it with:
#   python mocks/subset-printvetica.py
fonts/printvetica-caps.woff2
