# Printvetica ships with the site. Founder decision, 2026-08-14 — the commercial
# licence was purchased from guaschetti via Gumroad on 2026-07-29, so the file
# belongs in the repo and the production 404 stops.
# Rebuild the caps subset with: python mocks/subset-printvetica.py
